{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ca", "Ob", "Ma", "Fu", "Lili", "Flower", "Flo", "La", "Pure", "Plas", "Plasma", "Phase", "Krr", "Bu", "Boo", "U", "Ju", "Err", "Void", "Sky", "Ski", "Angel", "Toma", "Tore", "Death", "Creep", "Di", "Akde", "Del", "Esc", "Space", "Spell", "Magic", "Hex", "Divine", "Prime"],
	  [ { "mode" : "alts" }, "blex", "moid", "leash", "gor", "yuri", "kala", "lime", "cyan", "astral", "meteor", "star", "wander", "goo", "ooze", "acid", "kill", "xic", "gleb", "rish", "rix", "th", "ya", "yoth", "loth", "t", "m", "ly", "ed", "er", "or", "jammer", "blood", "-kin", "child", "scion"]
    ]
  ]
}
